
h1 {
    text-align: center;
    margin-bottom: 15px;
}

#login-button {
    background-color: #0d59aa;
}

#login-button:hover {
    background-color: #1e7ad6;
}

img.avatar {
    width: 120px;
}

span.psw {
    text-align: left;
    padding-top: 2px;
}

#registerlink {
    position: relative;
    padding-top: 2px;
    text-align: right;
}