<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true">

        <!-- Activities -->

        <activity
            android:name=".ContactsPage.AddContactActivity"
            android:exported="false"
            android:windowNoTitle="true"
            android:label="Add Contact"/>


        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:windowNoTitle="true"
            android:label="Settings"/>

        <activity
            android:name=".ActiveChatActivity"
            android:exported="false"
            android:windowNoTitle="true"
            android:label="Chat"/>

        <activity
            android:name=".ContactsPage.ContactsActivity"
            android:windowNoTitle="true"
            android:label="Contacts"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>


        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            android:windowNoTitle="true"
            android:label="Register"
            />

        <activity
            android:name=".LoginActivity"
            android:label="Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>