<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="false"
        android:usesCleartextTraffic="true">>

        <!-- Activities -->

        <activity
            android:name=".Activities.ContactsPage.AddContactActivity"
            android:exported="false"
            android:windowNoTitle="true"
            android:label="Add Contact"/>


        <activity
            android:name=".Activities.SettingsActivity"
            android:exported="false"
            android:windowNoTitle="true"
            android:label="Settings"/>
        <activity
            android:name=".Activities.SettingsActivityPreLogin"
            android:exported="false"
            android:windowNoTitle="true"
            android:label="Settings"/>
        <activity
            android:name=".Activities.ActiveChatActivity"
            android:exported="false"
            android:windowNoTitle="true"
            android:label="Chat"/>

        <activity
            android:name=".Activities.ContactsPage.ChatsActivity"
            android:windowNoTitle="true"
            android:label="Contacts"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>


        <activity
            android:name=".Activities.RegisterActivity"
            android:exported="false"
            android:windowNoTitle="true"
            android:label="Register"
            />

        <activity
            android:name=".Activities.LoginActivity"
            android:label="Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>